<tr>
  <td><%= link_to question.question, user_question_path(question.user, question) %></td>
  <td><%= question.created_at %></td>
  <td><%= link_to question.user.name, user_path(question.user) %></td>
  <td><%= question.responses.count %></td>
</tr>
