<div class="page-header">
  <h1><%= @question.question %></h1>
  <p>Posted by <%= link_to @question.user.name, user_path(@question.user) %> on <%= @question.created_at %></p>
</div>

<h4><%= @question.description %></h4>
